.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search-wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .circle-fill {
      color: #165dff;
      cursor: pointer;
    }
  }

  .list {
    flex: 1;
    display: flex;
    .list-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .active {
        background-color: #f3f4f6;
      }

      .list-wrapper-item {
        width: 170px;
        padding: 12px 8px;
        margin: 0 15px;
        box-sizing: border-box;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background-color: #f3f4f6;

          .list-top-wrapper {
            .icon-more {
              visibility: visible;
            }
          }
        }

        .list-top-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .list-title-wrapper {
            display: flex;
            align-items: center;
          }

          .icon-more {
            cursor: pointer;
            color: #999999;
            visibility: hidden;
          }
        }

        .list-bottom-wrapper {
          color: #999999;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }
}
