.title {
  font-size: 1.33rem;
  font-weight: 500;
  margin: 0 0 1.33rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .clickable {
    cursor: pointer;
  }

  .prompt-button {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

.code {
  user-select: none;
}

.back {
  cursor: pointer;
}
